<H1>Listing Users</H1>

<TABLE class="table">
	<%= for user <- @users do %>
		<TR>
			<TD><%= render "user.html", user: user %></TD>
			<TD><%= link "View", to: user_path(@conn, :show, user.id) %></TD>
		</TR>
	<%= end %>
</TABLE>
